<header>
  <h2>Tickets</h2>
  <ul class="actions">
    <li><%= link_to "New Ticket", new_project_ticket_path(@project),
     class: "new" %></li>
  </ul>
</header>

<%= render "form", project: @project, ticket: @ticket %>


<ul id="tickets">
  <% @project.tickets.each do |ticket| %>
    <li>
      #<%= ticket.id %> -
      <%= link_to ticket.name, [@project, ticket] %>
    </li>
  <% end %>
</ul>
